<%= image_tag @book.image_url %>
<%= @book.title %>
<%= @book.author %>

  <div class="row mt-3">
    <div class="col-md-12 col-sm-12">
    <%= form_with model: [@book, @review], url: book_reviews_path(book_id: @book.id), method: :post do |f| %>
    <div class="row mt-3">
      <div class="col-md-8 offset-md-2">
        <%= f.text_area :impression, rows: '3', placeholder: "コメントをここに入力してください。",class: "col-md-12" %>
      </div>
      <div class="col-md-2 mt-4  text-center">
        <%= f.submit "Submit", class: "submit_btn" %>
      </div>
    </div>
    <% end %>
    </div>
  </div>
  <% @reviews.each do |comment| %>
  <div class="row mt-1">
    <div class="col-md-11 offset-md-1 parent">
      <p class="fs-1 child"><%= comment.impression %></p>
    </div>
  </div>
  <% end %>